$white:#FFFFFF;
$black:#232323;
$btn-nav-border-color:#2896B8;
$bg-color:#F3F5F5;
$hero-bg-color:#39A9CB;
$google-color:#0A81AB;
$red:#B83028;
$sub-title-font-size:40px;
$font-size-1200:33px;
$font-size-767:30px;
$font-weight:600;

$blue:    #0d6efd;
