@import "../font/font-popping/stylesheet.css";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 27px;
  font-style: normal;
  font-size: 1rem;
}

.navbar-logo {
  width: 50%;
}
@media (min-width: 991.98px) {
  .navbar-logo {
    display: none;
  }
}

.btn-nav-main {
  width: 29%;
}
.btn-nav-main .btn-daftar {
  background-color: #2896B8;
  border-radius: 15px;
}
.btn-nav-main .btn-Masuk {
  border-radius: 15px;
  border: 2px solid #2896B8;
}
.btn-nav-main .btn-Masuk:hover {
  color: #FFFFFF;
}

.hero-section {
  background-color: #F3F5F5;
}
.hero-section h1 {
  font-size: 46px;
  font-weight: 600;
  width: 85%;
  line-height: 69px;
}
@media (max-width: 1399.98px) {
  .hero-section h1 {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .hero-section h1 {
    font-size: 38px;
    line-height: 59px;
  }
}
@media (max-width: 991.98px) {
  .hero-section h1 {
    font-weight: 600;
    line-height: 44px;
    font-size: 37px;
  }
}
@media (max-width: 767.98px) {
  .hero-section h1 {
    line-height: 39px;
    font-size: 32px;
  }
}
@media (max-width: 575.98px) {
  .hero-section h1 {
    line-height: 50px;
    font-size: 40px;
  }
}
.hero-section h1 .Meeting-color {
  color: #2896B8;
}
.hero-section .Masukkan-kode-btn {
  border-radius: 15px;
}
.hero-section .Masukkan-kode-btn:hover {
  color: #FFFFFF;
}
.hero-section .Masukkan-kode-btn .fa-keyboard {
  font-size: 22px;
}
.hero-section .Pelajari-text {
  color: #2896B8;
}

.mengapa-section {
  background-color: #39A9CB;
}
.mengapa-section h2 {
  font-size: 40px;
}
@media (max-width: 1199.98px) {
  .mengapa-section h2 {
    font-size: 33px;
  }
}
@media (max-width: 767.98px) {
  .mengapa-section h2 {
    font-size: 30px;
  }
}
@media (max-width: 575.98px) {
  .mengapa-section h2 {
    font-size: 35px;
  }
}
.mengapa-section .border-mengapa {
  border: 2px solid #FFFFFF;
  width: 15%;
  border-radius: 5px;
}
.mengapa-section .Mengapa-btn {
  border-radius: 15px;
  color: #0A81AB;
}
.mengapa-section .google-main {
  width: 100%;
}
.mengapa-section .google-main .google-img-div {
  width: 40%;
}
@media (max-width: 575.98px) {
  .mengapa-section .google-main .google-img-div {
    width: 26%;
  }
}
.mengapa-section .google-main .Google-title {
  font-size: 30px;
  color: #0A81AB;
}
.mengapa-section .google-main .google-text {
  font-size: 20px;
}

.images-Group-div {
  width: 60%;
}
@media (max-width: 991.98px) {
  .images-Group-div {
    width: 80%;
  }
}
@media (max-width: 767.98px) {
  .images-Group-div {
    width: 100%;
  }
}

.Versi-Berbayar-title {
  font-size: 40px;
  font-weight: 600;
}
@media (max-width: 1199.98px) {
  .Versi-Berbayar-title {
    font-size: 33px;
  }
}
@media (max-width: 767.98px) {
  .Versi-Berbayar-title {
    font-size: 30px;
  }
}
.Versi-Berbayar-title .Berbayar-color {
  color: #2896B8;
}

.Room-Unlimited-text {
  font-weight: 600;
}
.Room-Unlimited-text .fa-circle-check {
  color: #2896B8;
  font-size: 30px;
}
.Room-Unlimited-text .fa-circle-xmark {
  color: #B83028;
  font-size: 30px;
}

.border-versi {
  border-left: 2px solid #2896B8;
  height: 250px;
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .border-versi {
    border-left: none;
    border-bottom: 2px solid #2896B8;
    width: 50%;
    margin-left: 15px;
    height: auto;
  }
}

.Beli-Sekarang-btn {
  border-radius: 15px;
  background-color: #2896B8;
}

.footer {
  background-image: url(../images/Rectangle\ 16.svg);
  background-size: cover;
  height: 500px;
}
@media (max-width: 991.98px) {
  .footer {
    height: 800px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    height: 970px;
  }
}
.footer .Powered-By {
  font-size: 22px;
}
.footer .address {
  width: 62%;
}
.footer .nav-link {
  color: #FFFFFF;
  font-weight: normal;
}/*# sourceMappingURL=main.css.map */